<p>Lista de cursos</p>

<p>Pagina: {{pagina}}</p>

<div class="collection">
  <a href="#!" class="collection-item" 
  *ngFor="let curso of cursos"
  [routerLink]="[ '/curso', curso.id ]">
    {{curso.name}}
  </a>
</div>

<button (click)="nextPage()">Next</button>
