<div class="row">
  <div class=" col s6">

    <p>
      Lista de Alunos
    </p>
    
    <div class="collection">
      <a href="#!" class="collection-item" 
      *ngFor="let aluno of alunos"
      [routerLink]="[aluno.id]">
        {{aluno.name}}
      </a>
    </div>

  </div>
  
  
  <div class="col s6">
    <router-outlet></router-outlet> 
  </div>

</div>