<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink=""  class="brand-logo right">Rotas!</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active" ><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active" >
        <a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a>
      </li>
      <!-- <li routerLinkActive="active"> 
        <a [routerLink]="['curso', idCurso.value]">Cursos ID</a> 
      </li> -->
      <li routerLinkActive="active" ><a routerLink="/alunos">Alunos</a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <!-- <p>ID Curso:</p>
  <input type="text" #idCurso> -->

  <router-outlet></router-outlet>
</div>